
https://matcha-8.myshopify.com/admin/settings/general
https://freakdesign-us.s3.amazonaws.com/shopify/custom_fields/freakdesign-custom-fields-for-shopify-guide.pdf


https://matcha-8.myshopify.com/admin/bulk?resource_name=Product&edit=metafields.productsingle.subscriptiondiscount

{% comment %}
================================================
Removed from collection.liquid
Hero image 
================================================


{% if collection.handle == 'all'%}
<div class="grid--full">
<div class="hero_holder">
<div id="bg_image" style="min-height:320px; max-width:2000px; background:url(https://cdn.shopify.com/s/files/1/1456/8506/files/our-products-banner.jpg?2636370252342081845); no-repeat center center; background-size: cover; overflow:hidden;">
</div><!--bg_image-->
<div class="hero_holder_mask">
<div class="hero_holder_text">
<h2>Our Products</h2>
</div><!--hero_holder_text-->
</div><!--hero_holder_mask-->
</div><!--hero_holder-->
</div><!--grid--full -->
{% endif %}


{% endcomment %}