<div class="wrapper-full section-instagram">
	<div class="wrapper">
		<div class="column100 instagram">  
			<div class="column25 text-center"> 
				<div class="icon-instagram-follow">
					{{ 'icon-instagram-follow.svg' | asset_url | img_tag }}"  
				</div>
				<h3>Connect with other Matcha Lovers</h3>
				<span class="green-hr-small"></span>
				<h4><a href="https://www.instagram.com/matchakari/" target="_blank">@MatchaKari</a></h4>
			</div><!-- column25-->
			<div data-is data-is-source="@matchakari" data-is-columns="5" data-is-responsive="%7B%22780%22%3A%7B%22columns%22%3A%222%22%2C%22rows%22%3A%222%22%2C%22gutter%22%3A%220%22%7D%7D" data-is-color-gallery-overlay="rgb(128, 185, 102)" data-is-color-gallery-arrows="rgb(128, 185, 102)" data-is-color-gallery-arrows-hover="rgb(128, 185, 102)" data-is-color-popup-username="rgb(77, 77, 77)" data-is-color-popup-username-hover="rgb(128, 185, 102)" data-is-color-popup-instagram-link="rgb(77, 77, 77)" data-is-color-popup-instagram-link-hover="rgb(128, 185, 102)" data-is-color-popup-anchor="rgb(128, 185, 102)" data-is-color-popup-anchor-hover="rgb(128, 185, 102)"></div>  
		</div><!-- column100 instagram-->
	</div><!-- wrapper-->
</div><!-- wrapper-full-->