	<div class="membership-header-bar">
		<div class="membership-header-bar-inner">
			<div class="membership-subscribe">
				<p>Subscribe to 3 items, get 10% Off <a href="/pages/membership" class="header-btn">Shop Now</a></p>
			</div> <!-- membership-subscribe -->
			<div class="membership-refer">
				<p>Refer a Friend and get $10 <a href="/pages/refer-a-friend" class="header-btn">Get Started</a></p>
			</div> <!-- membership-subscribe -->
		</div> <!-- membership-header-bar-inner -->
	</div> <!-- membership-header-bar -->