<h2>Andr&eacute; Fasciola</h2>

<p>Co-founder of MatchaKari Andr&eacute; Fasciola grew up with a genuine love of Japanese culture. Raised on military bases, Fasciola began studying Aikido (Japanese martial arts) more than 25 years ago. He became enamored by matcha’s healing properties, cultivation, and ceremony nearly 10 years ago. Sadly, high-quality matcha was seldom available outside Japan. What’s a guy to do? Simple enough, partner with the world-renowned father of integrative medicine Dr. Andrew Weil and create your own best-in-class matcha tea company.</p>

<p>Andr&eacute; and Dr. Weil founded MatchaKari, to deliver health-centric, high-quality Japanese matcha green tea. Co-creating MatchaKari was just a natural progression of their 20-year friendship &mdash; a bond forged with a shared vision of the delivery of healthy alternatives to mainstream coffee and sugary drinks.</p>

<p>Andr&eacute; graduated from the University of Arizona with a degree in Psychology. Although his original intention was to pursue medical school, he found his passion for human performance, health and wellness fit him to a TEA.</p>