	<h2>Dr. Andrew Weil</h2>
	<p>Dr. Andrew Weil is an internationally recognized expert on medicinal plants, integrative medicine and wellness. As the founder and Director of the University of Arizona Center for Integrative Medicine, Dr. Weil is leading the global effort to develop a comprehensive integrative medicine curriculum.</p>
	<p>Matcha is Weil’s latest botanically-based ‘alternative’ medicine. With an A.B. degree in botany from Harvard in 1964 and an M.D. from Harvard Medical School in 1968, Dr. Weil has traveled the world collecting information about medicinal plants and alternative methods of treating disease. The author of 15 best-selling books and many scientific articles, Weil is a renowned expert on alternative plant-based healing. Matcha is the latest in his array of natural, plant-based options – he’s also “written the book” the ingestible healing power of plants, for example, The HealthyKitchen and Eating Well for Optimal Health.</p>

	<a href="/pages/dr-andrew-weil" class="btn">More on Dr. Weil</a>

