   <div class="section-testimonials-wrapper">
   	<h4 class="testimonial-title">What Matcha.com Customers Say</h4>
   	<div class="lazy slider">
   		<div class="slide-item">
   			<h2>"The best tasting matcha on the planet!"</h2>
   			<p>I've been to Japan a few times and I've had a lot of matcha tea and this one is by far my favorite here in the US. I ordered a few brands on Amazon and none of them compare to this matcha. One place I ordered from on Amazon said their matcha comes from Japan but when I received the package it said made in China! And it was expensive. I've tried other types of matcha on Matcha Kari's website, but this one is the best. The other teas were good as well but this one is my favorite. I love how I feel after drinking matcha.</p>
   			<div class="star-wrapper">
   				<i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
   			</div> <!-- star-wrapper -->
   			<h4> –Donna Little</h4>
   			<h5>July 16, 2018</h5>
   		</div>
   		<div class="slide-item">
   			<h2>"Love my Matcha!"</h2>
   			<p>I had heard of Matcha but had not tried it, so when I listened to an interview by Dr. Weil, I decided to order some. I felt coffee always gave me the jitters and a feeling of “let down” after the initial kick of caffeine. Matcha gives me a focused kick without the “let down” or jitters. Even though it has caffeine, for some reason it agrees with me much better. I was recently diagnosed with atrial fibrillation (electrical problem with my heart, causes a rapid heart rate), so I was hesitant to begin caffeine again, after giving it up for 3 months. Matcha has not affected my Afib at all that I can tell. Ha, this is not a medical recommendation, but it works for me. The taste is delicious (First Harvest), and I look forward to it each morning.</p>
   			<div class="star-wrapper">
   				<i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
   			</div> <!-- star-wrapper -->
   			<h4> –Kathryn</h4>
   			<h5>March 13, 2019</h5>
   		</div>
   		<div class="slide-item">
   			<h2>The taste is delicious, and I look forward to it each morning.</h2>
   			<p>I had heard of Matcha but had not tried it, so when I listened to an interview by Dr. Weil, I decided to order some. I felt coffee always gave me the jitters and a feeling of “let down” after the initial kick of caffeine. Matcha gives me a focused kick without the “let down” or jitters. Even though it has caffeine, for some reason it agrees with me much better. I was recently diagnosed with atrial fibrillation (electrical problem with my heart, causes a rapid heart rate), so I was hesitant to begin caffeine again, after giving it up for 3 months. Matcha has not affected my Afib at all that I can tell. Ha, this is not a medical recommendation, but it works for me. The taste is delicious (First Harvest), and I look forward to it each morning.</p>
   			<div class="star-wrapper">
   				<i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
   			</div> <!-- star-wrapper -->
   			<h4> –Jeremy Lee</h4>
   			<h5>January 23, 2019</h5>
   		</div>
   	</div> <!-- lazy slider -->
   </div> <!-- section-testimonials-wrapper -->


   <script type="text/javascript">
      $(document).on('ready', function() {
         $(".lazy").slick({
        lazyLoad: 'ondemand', // ondemand progressive anticipated
        infinite: true,
        dots: true,
        autoplay: true,
        speed: 400,
        autoplaySpeed: 3000,
        arrows: false,
     });
      });
   </script>
