<div class="wrapper-full bg-immage-our-story">
<div class="bg-immage-our-story-mask">


<div class="wrapper">

<div class="column100 our-matcha-story white-text">  
<div class="column50">
<img src="https://cdn.shopify.com/s/files/1/1456/8506/files/matacha-x-white.png?70934268745749313" class="img-matacha-x-white"/>  
<div class="text-wrapper">
<h2>Our Matcha Mission</h2>
<p> We seek to source and provide the world’s best matcha tea, build lifetime relationships, 
share matcha culture, give back more than we take, and better the lives of our customers and our community. 
Our aim is share our knowledge on the merits, health benefits, and spirit of matcha.</p>
</div> <!-- text-wrapper -->
</div> <!-- column50 -->
<img src="https://cdn.shopify.com/s/files/1/1456/8506/files/matcha-dust.png?2405732533129975303" class="img-matcha-dust"/>  
</div> <!-- column100 -->
</div><!-- wrapper-->
</div><!--bg-immage-our-story-mask-->
</div><!-- wrapper-full-->



<div class="wrapper-full">
<div class="wrapper">

<div class="column100 section-our-matchamission">
<div class="column50 colleft">
<img src="https://cdn.shopify.com/s/files/1/1456/8506/files/our-introduction-to-matcha.jpg?3011459482156937588"/>
</div><!--column50-->

<div class="column50 colright">
<h2>Our introduction to matcha</h2>
<p>Occasionally on trips to Japan, we were fortunate enough to try matcha served by practitioners of the tea ceremony. The host ritually prepares a bowl of matcha and presents it to the guest, who is expected to drink the tea in three audible slurps before returning the bowl to the host. The process is then repeated for each guest present. As we learned about the tea ceremony’s long history, we came to respect the tradition and enjoy matcha more and more.</p>
</div><!--column50-->
</div><!--column100-->


<div class="column100 section-learningmore">
<div class="column50 colleft">
<h2>Learning more and inviting others</h2>
<p>Gradually, we learned more about this rare and highly prized form of green tea: how it is cultivated and processed, the distinctions among different grades, how to recognize the best products. We were pleased to note growing awareness of and interest in matcha in America but were dismayed by the low quality of matcha drinks offered in cafés, tea shops, and restaurants. On our trips to Japan, we purchased small tins of the quality tea to bring home, along with tea bowls, scoops, and whisks. Soon we were in the habit of drinking a morning bowl of matcha and turning friends onto it.</p>
</div><!--column50-->

<div class="column50 colright">
<img src="https://cdn.shopify.com/s/files/1/1456/8506/files/learning-more-inviting-others.jpg?3011459482156937588"/>
</div><!--column50-->
</div><!--column100-->


<div class="column100 section-introduction-matcha">
<div class="column50 colleft">
<img src="https://cdn.shopify.com/s/files/1/1456/8506/files/focus-on-quality.jpg?3011459482156937588"/>
</div><!--column50-->

<div class="column50 colright">
<h2>A focus on quality</h2>
<p>We decided to form a company to identify and import the highest-quality matcha available and provide tea lovers everywhere with the world’s best matcha tea. </p>
<p>Like most consumers, we were astounded at the price tags of ultra-premium matcha in Japan and realized that added costs of import would put it beyond the reach of many American consumers. We wanted to change that. We found that we liked the better grades of thin tea for everyday use and were willing to pay more for some of the medium-quality ceremonial grades to use for special occasions. We choose to import only those products that met our standards for color, aroma, and flavor.</p>
</div><!--column50-->
</div><!--column100-->


</div><!-- wrapper-->
</div><!-- wrapper-full-->



<div class="wrapper-full bg-immage-sharing-knowledge">
<div class="bg-immage-sharing-knowledge-mask">
<div class="wrapper">

<div class="column100 sharing-knowledge white-text">  

<div class="column50 column-center">  
<h2>Sharing our knowledge</h2>
<p>In addition to emphasizing quality, we also strive to share all the things we've learned about matcha and the pleasures it can provide. And as we learn more, we want to continue to pass the knowledge onto others. We are committed not only to bringing you the best matcha we can find but also the best information about ways to use it and its health benefits.</p>
</div> <!-- column50 -->


<div class="column100">
<div class="btn-wrapper-our-story">
<span class="or-circle-learn-more">or</span> 
<a href="/blogs/news" class="btn-learn-more right-btn">Learn More</a> 
<a href="/collections/all" class="btn-learn-more">Visit Store</a>
</div><!--btn-wrapper-->
</div><!--column100-->

</div> <!-- column100 -->

</div><!-- wrapper-->
</div><!-- bg-immage-tea-plates-mask-->
</div><!-- wrapper-full-->