<div class="wrapper-full bg-image-team" style="background-image: url(https://cdn.shopify.com/s/files/1/1456/8506/files/press-hero.jpg?6349281784004452039)"/> 
<div class="bg-image-team_textholder">  
	<h2>Meet the Team </h2>
</div>
</div><!-- wrapper-full-->

<div class="wrapper-full">
	<div class="wrapper">
		
		<div class="section-team-member-wrapper">
			<div class="section-team-member-wrapper_img">
				<img src="https://cdn.shopify.com/s/files/1/1456/8506/files/team_andrew-weil.jpg?6349281784004452039">
			</div><!--section-team-member-wrapper_img-->
			<div class="section-team-member-wrapper_text">
				{% include 'team-bio-dr-wiel' %}
			</div><!--section-team-member-wrapper_text-->
		</div><!--section-team-member-wrapper-->

		
		<div class="section-team-member-wrapper">
			<div class="section-team-member-wrapper_img">
				<img src="https://cdn.shopify.com/s/files/1/1456/8506/files/team_andre-fasciola.jpg?6349281784004452039">
			</div><!--column50-->
			<div class="section-team-member-wrapper_text">
				{% include 'team-bio-andre' %}
			</div><!--section-team-member-wrapper_text-->
		</div><!--section-team-member-wrapper-->



	</div><!-- wrapper-->
</div><!-- wrapper-full-->
