<div class="wrapper-full">
  <div class="wrapper">
    <div class="column100 section-history">
      <div class="column50 colleft">
        <h3>History of matcha</h3>
        <p>More than 1,000 years ago, tea farmers in Japan began crafting matcha, a powdered green tea made from the whole leaf and renowned for its health benefits. Zen monks celebrated it for its ability to help them focus during long periods of sitting meditation. Samurai warriors partook of it before battle to gain mental alertness and clarity. And today, many people from around the world enjoy a bowl of matcha for the pleasure it provides as well as its positive effects on mood, energy, and general health. </p>
      </div><!--column50-->
      <div class="column50 colright">
        <img src="https://cdn.shopify.com/s/files/1/1456/8506/files/history-of-matcha.jpg?12071402869777211912"/>
      </div><!--column50-->
    </div><!--column100-->
    <div class="column100 section-location">
      <div class="column50 colleft">
        <img src="https://cdn.shopify.com/s/files/1/1456/8506/files/where-our-tea-comes-from1.jpg?5475388310495163126"/>
      </div><!--column50-->
      <div class="column50 colright">
        <h3>Where our tea comes from</h3>
        <p>Matcha Kari’s teas come from the fields around Uji City near Kyoto, Japan, the birthplace of Japanese tea traditions. Tea produced in the Uji region is prized for its bright color and rich flavor and is often considered Japan’s best.</p>
        <img src="https://cdn.shopify.com/s/files/1/1456/8506/files/where-our-tea-comes-from2.png?5460322663809962286" class="tea-from"/>
      </div><!--column50-->
    </div><!--column100-->
    <div class="column100 section-process">
      <div class="column100 section-picking text-center">
        <h3>From picking to storing</h3>
        <p>During a short and busy harvest season, tea farmers gather leaves and take them to processing facilities.</p>
      </div><!--column100-->
      <div class="column50 colleft">
        <img src="https://cdn.shopify.com/s/files/1/1456/8506/files/picking-to-storing1.jpg?1956762176349356421"/>
        <img src="https://cdn.shopify.com/s/files/1/1456/8506/files/picking-to-storing2.jpg?559828247644224479"/>
        <img src="https://cdn.shopify.com/s/files/1/1456/8506/files/picking-to-storing3.jpg?559828247644224479"/>
      </div><!--column50-->
      <div class="column50 colright">
        <div class="list-item">
          <span class="number">1</span>
          <div class="list-item-textwrapper">
            <h4>Picking</h4>
            <p>Small-scale growers hand-pick their tea plants. Larger-scale growers use machines to trim the tea plants during a small window of time. The best time to harvest is when the plant has 3-5 new leaves. Too early and the yield too small; too late and the quality is compromised.</p>
          </div> <!--list-item-textwrapper-->
        </div><!--list-item-->
        <div class="list-item">
          <span class="number">2</span>
          <div class="list-item-textwrapper">
            <h4>Steaming</h4>
            <p>Fresh tea leaves are steamed for 30-40 seconds to destroy enzymes that would degrade flavor components.</p>      
          </div> <!--list-item-textwrapper-->
        </div><!--list-item-->
        <div class="list-item">
          <span class="number">3</span>
          <div class="list-item-textwrapper">
            <h4>Cooling</h4>
            <p>Steamed leaves are quickly cooled by a strong blast of air that blows them almost 20 feet into the air, stabilizing the bright color and aroma.</p>
          </div> <!--list-item-textwrapper-->
        </div><!--list-item-->
        <div class="list-item">
          <span class="number">4</span>
          <div class="list-item-textwrapper">
            <h4>Drying</h4>
            <p>Heated from below in a carefully controlled fire pit, the leaves pass through 3-4 levels on a conveyor belt, ensuring thorough and even drying.</p>
          </div> <!--list-item-textwrapper-->
        </div><!--list-item-->
        <div class="list-item">
          <span class="number">5</span>
          <div class="list-item-textwrapper">
            <h4>Cutting/Sorting</h4>
            <p>Once dried, the tea leaves are cut, sorted, and mixed thoroughly, ensuring consistent quality and flavor. The resulting product, called tencha, is stored in a temperature- and humidity-controlled environment until needed to make matcha.</p>
          </div> <!--list-item-textwrapper-->
        </div><!--list-item-->
        <div class="list-item">
          <span class="number">6</span>
          <div class="list-item-textwrapper">
            <h4>Grinding</h4>
            <p>Tencha is ground into matcha powder between rotating grooved stones driven by machines. A funnel drops cut leaves through a hole into a space between two stones. The grinding process takes two hours, resulting in an extremely fine powder.</p>
          </div> <!--list-item-textwrapper-->
        </div><!--list-item-->
        <div class="list-item">
          <span class="number">7</span>
          <div class="list-item-textwrapper">
            <h4>Grading</h4>
            <p>Matcha is graded by color, aroma, and flavor.</p>
          </div> <!--list-item-textwrapper-->
        </div><!--list-item-->
        <div class="list-item">
          <span class="number">8</span>
          <div class="list-item-textwrapper">
            <h4>Sorting</h4>
            <p>As soon as matcha is graded, it is sealed in tins to prevent oxidation from exposure to air in the presence of light and heat. Unopened tins can be kept in a freezer for up to a year.</p>
          </div> <!--list-item-textwrapper-->
        </div><!--list-item-->
      </div><!--column50-->
    </div><!--column100-->
    <div class="column100 section-health-benefits">
      <div class="column50 colleft text-center">
        <h3>Health Benefits</h3>
        <h4 class="text-color-80b066">A 2015 study of the dietary patterns of 90,000 Japanese people concluded that those who drank the most green tea had the lowest all-cause mortality rates. </h4>
        <p> Green tea helps lower blood pressure, improve cardiovascular health, and may protect against cancer. Matcha is the only form of tea that includes the whole leaf rather than a water extract of leaves. Its health benefits correlate with higher levels of antioxidants, vitamins, minerals, and phytonutrients, including L-theanine.</p>
      </div><!--column50-->
      <div class="column50 colright tealeaf">
        <img src="https://cdn.shopify.com/s/files/1/1456/8506/files/matchaleaf.png?8029269339951088501" class="img-matcha-leaf"/>
        <div class="green_container initial plus" style="left: 40%; top: 27%;">
          <div class="green_copy">Improves mental clarity and alertness.</div>
          <div class="green_circle"><span class="icon"></span></div>
        </div>
        <div class="green_container initial plus" style="top: 35%; right: 30%;">
          <div class="green_copy">One bowl of matcha green tea has as many antioxidants as 10 cups of regular green tea.</div>
          <div class="green_circle"><span class="icon"></span></div>
        </div>
        <div class="green_container initial plus" style="left: 33%; top: 47%;">
          <div class="green_copy">Matcha has a powerful polyphenol in it called EGCG, which is known to boost metabolism.</div>
          <div class="green_circle"><span class="icon"></span></div>
        </div>
        <div class="green_container initial plus" style="top: 55%; right: 40%;">
          <div class="green_copy">Matcha provides up to six hours of calming, focused mental energy.</div>
          <div class="green_circle"><span class="icon"></span></div>
        </div>
        <div class="green_container initial plus" style="left: 42%; top: 67%;">
          <div class="green_copy">Matcha increases overall energy levels and endurance. It's good, clean energy.</div>
          <div class="green_circle"><span class="icon"></span></div>
        </div>
      </div><!--column50-->
    </div><!--column100-->
  </div><!-- wrapper-->
</div><!-- wrapper-full-->
<div class="wrapper-full bgcolor-f2f2f2">
  <div class="wrapper learn-page">
    <div class="column100 section-preparing-tea" id="video-anchor">
      <div class="column50 colleft">
        <a href="/" class="video-popup">  
          <img src="https://cdn.shopify.com/s/files/1/1456/8506/files/PreparingPerfectBowl2.jpg?12972119609439776463"/>
        </a>
        <h3>Preparing the perfect bowl of matcha</h3>
        <p>Making a great bowl of matcha is an art form. While it may look simple on the surface, creating the perfect bowl of matcha requires the correct utensils and the proper technique. We've created a quick how-to video on making a perfect bowl of matcha.</p>
      </div><!--column50-->
      <div class="column50 colright">
        <div class="list-item">
          <span class="number">1</span>
          <div class="list-item-textwrapper">
            <p>Heat water in a kettle until steam first appears; this will be well below boiling, about 180°F. Turn off heat.</p>
            <img src="https://cdn.shopify.com/s/files/1/1456/8506/files/prepare-tea-icons-1.png?2447621276862712081" class="teaprep-img"/>
          </div> <!--list-item-textwrapper-->
        </div><!--list-item-->
        <div class="list-item">
          <span class="number">2</span>
          <div class="list-item-textwrapper">
            <p>Pour about ½ cup of the hot water into a matcha bowl to warm it; discard the water and dry the inside of the bowl.</p>
            <img src="https://cdn.shopify.com/s/files/1/1456/8506/files/prepare-tea-icons-2.png?2447621276862712081" class="teaprep-img"/>
          </div> <!--list-item-textwrapper-->
        </div><!--list-item-->
        <div class="list-item">
          <span class="number">3</span>
          <div class="list-item-textwrapper">
            <p>Use a tea scoop to measure 3 scoops (1 teaspoon) of sifted matcha powder into the warmed bowl.</p>
            <img src="https://cdn.shopify.com/s/files/1/1456/8506/files/prepare-tea-icons-3.png?2447621276862712081" class="teaprep-img"/>
          </div> <!--list-item-textwrapper-->
        </div><!--list-item-->
        <div class="list-item">
          <span class="number">4</span>
          <div class="list-item-textwrapper">
            <p>Add about ¼ cup (2 ounces) of hot water.</p>
            <img src="https://cdn.shopify.com/s/files/1/1456/8506/files/prepare-tea-icons-4.png?2447621276862712081" class="teaprep-img"/>
          </div> <!--list-item-textwrapper-->
        </div><!--list-item-->
        <div class="list-item">
          <span class="number">5</span>
          <div class="list-item-textwrapper">
            <p>Use a tea whisk to mix the matcha tea into the water. Begin with a slow, back-and-forth stroke, then agitate the mixture to a froth with quick strokes.</p>
            <img src="https://cdn.shopify.com/s/files/1/1456/8506/files/prepare-tea-icons-5.png?2447621276862712081" class="teaprep-img"/>
          </div> <!--list-item-textwrapper-->
        </div><!--list-item-->
        <div class="list-item">
          <span class="number">6</span>
          <div class="list-item-textwrapper">
            <p>Rinse the scoop and whisk.</p>
            <img src="https://cdn.shopify.com/s/files/1/1456/8506/files/prepare-tea-icons-6.png?2447621276862712081" class="teaprep-img"/>
          </div> <!--list-item-textwrapper-->
        </div><!--list-item-->
        <div class="list-item">
          <span class="number">6</span>
          <div class="list-item-textwrapper">
            <p>Sip and enjoy.</p>
            <img src="https://cdn.shopify.com/s/files/1/1456/8506/files/prepare-tea-icons-7.png?2447621276862712081" class="teaprep-img"/>
          </div> <!--list-item-textwrapper-->
        </div><!--list-item-->
      </div><!--column50-->
    </div><!--column100-->
  </div><!-- wrapper-->
</div><!-- wrapper-full-->
<div class="popup_overlay closed">
  <div class="popup_content">
    <iframe src="https://player.vimeo.com/video/196444458" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <span class="close_popup"></span>
  </div> <!-- popup_content -->
</div> <!-- popup_overlay closed -->
<script>
  $(function() {
    var tealeaf = $(".tealeaf");
    $( ".tealeaf" ).on( "click", ".green_circle", function() {
      $( this ).parent().removeClass("initial");
      if ($( this ).parent().hasClass("minus")) {
        $( this ).parent().toggleClass("plus minus");
      } else {
        $( ".green_container" ).removeClass("minus").addClass( "plus" );
        $( this ).parent().toggleClass("plus minus");
      }
    });
    var tealeaf_scrolled = false;
    $(document).on('scroll', function(event) {
      if($(this).scrollTop()>=$('.tealeaf').position().top - $('.tealeaf').height() ){
        if(!tealeaf_scrolled) {
          tealeaf_scrolled = false;
          $('.tealeaf').addClass("scrolled"); 
          setTimeout(function () {
            $( ".green_container" ).first().removeClass("plus").addClass( "minus" );
          }, 1100);
          $(this).off(event);
        }
      }
    })
  });
</script>
<script>
  $(function() {
    console.log("Learn Page");
    $(".video-popup").on( "click", function(event) {
      event.preventDefault()
      $( ".popup_overlay" ).toggleClass("open closed");
    });
    $(".popup_overlay").on( "click", function(event) {
     $( ".popup_overlay" ).removeClass("open").addClass("closed");
   });
    $(".popup_overlay").on( "click", ".close_popup", function(event) {
     $( ".popup_overlay" ).removeClass("open").addClass("closed");
   });
  });
</script>